{% extends 'blogapp/base.html' %}

{% block content %}
    <h1>Post</h1>
    <hr>
    <ul>
    {% for post in object_list %}
        <li>
            <a href="{% url 'article_detail' post.pk %}">{{ post.title }}</a>
            - <a href="{% url 'category' post.category|slugify %}">#{{ post.category }}</a>
            - {{ post.author.first_name }} {{ post.author.last_name }} - {{ post.post_date }}
            {% if user.is_authenticated %}
                {% if user.id == post.author.id %}
                    <small>- <a href="{% url 'update_post' post.pk %}">(Edit)</a></small>
                    <small><a href="{% url 'delete_post' post.pk %}">(Delete)</a></small>
                {% endif %}
            {% endif %}
            <br>
            {{ post.body|truncatewords:40|linebreaks }}
        </li>
        <hr>
    {% endfor %}
    </ul>

    <ul>
    {% if posts %}
        {% for i in posts %}
            <li>
                <a href="{% url 'article_detail' i.pk %}">{{ i.title }}</a>
                - <a href="{% url 'category' i.category|slugify %}">#{{ i.category }}</a>
                - {{ i.author.first_name }} {{ i.author.last_name }} - {{ i.post_date }}
                {% if user.is_authenticated %}
                    {% if user.id == i.author.id %}
                        <small>- <a href="{% url 'update_post' i.pk %}">(Edit)</a></small>
                        <small><a href="{% url 'delete_post' i.pk %}">(Delete)</a></small>
                    {% endif %}
                {% endif %}
                <br>
                {{ i.body|truncatewords:40|linebreaks }}
            </li>
            <hr>
        {% endfor %}
    {% endif %}
    </ul>


    <br>
    {% if is_paginated %}
        <nav aria-label="Page navigation container"></nav>
            <ul class="pagination justify-content-center">
            {% if page_obj.has_previous %}
                <li><a href="?page={{ page_obj.previous_page_number }}" class="page-link">&laquo; PREV </a></li>
            {% endif %}

            {% for p in page_obj.paginator.page_range %}
                {% if page_obj.number == p %}
                    <li class="page-item active">
                        <a href="?page={{ p }}" class="page-link">{{ p }}</a>
                    </li>

                {% else %}
                    <li class="page-item">
                        <a href="?page={{ p }}" class="page-link">{{ p }}</a>
                    </li>
                {% endif %}
            {% endfor %}

            {% if page_obj not in page_obj.paginator.page_range %}

            {% endif %}

            {% if page_obj.has_next %}
                <li><a href="?page={{ page_obj.next_page_number }}" class="page-link"> NEXT &raquo;</a></li>
            {% endif %}
            </ul>
    {% endif %}

    {% if posts.has_other_pages %}
        <nav aria-label="Page navigation container"></nav>
        <ul class="pagination justify-content-center">
            {% if posts.has_previous %}
                <li class="page-item">
                    <a href="?page={{ posts.previous_page_number }}{% if query %}&q={{ query }}{% endif %}" class="page-link">&laquo; PREV</a>
                </li>
            {% endif %}
            {% for i in posts.paginator.page_range %}
                {% if posts.number == i %}
                    <li class="page-item active">
                        <a href="?page={{ i }}{% if query %}&q={{ query }}{% endif %}" class="page-link">{{ i }}</a>
                    </li>
                {% else %}
                    <li class="page-item">
                        <a href="?page={{ i }}{% if query %}&q={{ query }}{% endif %}" class="page-link">{{ i }}</a>
                    </li>
                {% endif %}
            {% endfor %}
            {% if posts.has_next %}
                <li>
                    <a href="?page={{ posts.next_page_number }}{% if query %}&q={{ query }}{% endif %}" class="page-link">NEXT &raquo;</a>
                </li>
            {% endif %}
        </ul>

    {% endif %}

{% endblock %}