{% extends 'blogapp/base.html' %}

{% block title %}
    Update The Blog Post
{% endblock %}

{% block content %}

    {% if user.is_authenticated %}

        {% if user.id == post.author.id %}
            <h1>Update Blog</h1>
            <br><br>
            <div class="form-group w-75">
                <form method="POST">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <button class="btn btn-secondary">Update</button>
                </form>
            </div>
        {% else %}
            <br>
            <h1>You can not make changes to this post!</h1>
        {% endif %}

    {% else %}
        <br>
        <h1>You need to be logged in to update any post!</h1>
    {% endif %}

    <script src="http://js.nicedit.com/nicEdit-latest.js" type="text/javascript"></script>
    <script type="text/javascript">bkLib.onDomLoaded(nicEditors.allTextAreas);</script>

{% endblock %}