{% load static %}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Google Sign In</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <section class="container-fluid">
        <div class="row justify-content-center">
            <div class="col-12 col-md-6 col-lg-4">
                <form class="form-container" method="POST">
                    {% csrf_token %}
                    <div class="form-group">
                        <div class="text-center">
                            <img src="{% static 'img/google.png' %}" class="logo">
                            <br><br>
                            <h4>Sign in</h4>
                            <p>Continue to Gmail</p>
                        </div>
                        <br>
                        <div>
                            <input type="email" name="username" id="email" autofocus="on" class="form-control" autocomplete="off"id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Email or phone">
                            <span id="showmsg1" class="text-danger"></span>
                            <br>
                            <input type="password" name="password" class="form-control" id="password" aria-describedby="emailHelp" placeholder="Enter your password" autofocus="on">
                            <span id="showmsg2" class="text-danger"></span>
                            {% for message in messages %}
                                <span class="text-danger"><b>{{ message }}</b></span>
                            {% endfor %}
                            <br>
                            <div class="row">
                                <div class="col text-left">
                                    <a style="text-decoration: none" href="reset_password"><b>Forgot password ?</b></a>
                                </div>
                            </div>
                            <br><br>
                            <small id="emailHelp" class="form-text text-muted pl-1">Not your computer? Use Guest mode to sign in privately.</small>
                            <a style="text-decoration: none" href="https://support.google.com/chrome/answer/6130773?hl=en-GB" target="_blank"><b>Learn more</b></a>
                        </div>
                        <br><br>
                        <div class="row">
                            <div class="col text-left">
                                <a style="text-decoration: none" href="signup"><b>Create account</b></a>
                            </div>
                            <div class="col text-right">
                                <button type="submit" class="btn btn-primary btn-md">Sign in</button>
                            </div>
                        </div> 
                    </div>
                </form>
            </div>
        </div>
    </section>



    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
</body>
</html>