{% load static %}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Google Sign Up</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <section class="container-fluid">
        <div class="row justify-content-center">
            <div class="col-12 col-md-6 col-lg-4">
                    <form class="form-container" id="form1" method="POST">
                        {% csrf_token %}
                        <div class="form-group">
                            <div class="text-center">
                                <img src="{% static 'img/google.png' %}" class="logo">
                                <br><br>
                                <h4>Create your Google Account</h4>
                                <p>Continue to Gmail</p>
                            </div>
                            <br>
                            <div class="row">
                                <div class="col">
                                    <input type="text" name="first_name" autofocus="on" class="form-control" placeholder="First name" required>
                                </div>
                                <div class="col">
                                    <input type="text" name="last_name" class="form-control" placeholder="Last name" required>
                                </div>
                            </div>
                            <br>
                            <div class="input-group">
                                <input type="text" name="username" class="form-control" id="email" autocomplete="off" aria-describedby="emailHelp" placeholder="Username" required>
                                <div class="input-group-append">
                                    <span class="input-group-text" id="basic-addon2">@gmail.com</span>
                                </div>
                            </div>
                            <span id="showmsg1" class="text-danger"></span>
                            <small id="emailHelp" class="form-text text-muted pl-1">You can use letters, numbers and periods</small>
                        </div>
                        <div>
                            <div class="row">
                                <div class="col">
                                    <input type="password" name="password1" class="form-control" placeholder="Password" id="password1" required>
                                    <span id="showmsg2" class="text-danger"></span>
                                </div>
                                <div class="col">
                                    <input type="password" name="password2" class="form-control" placeholder="Confirm" id="password2" required>
                                    <span id="showmsg3" class="text-danger"></span>
                                </div>
                                <div>
                                    <small id="emailHelp" class="form-text text-muted pl-3">Use 8 or more characters with a mix of letters, numbers & symbols</small>
                                </div>
                            </div>
                        </div>
                        <br>
                        <br>
                        <div class="row">
                            <div class="col text-left">
                                <a href="/"><b>Sign in instead</b></a>
                            </div>
                            <div class="col text-right">
                                <button type="submit" class="btn btn-primary" onclick="return myfun()">Signup</button>
                            </div>
                        </div>    
                    </form>
            </div>        
        </div>
    </section>
    
    <script>
        function myfun(){
            var result = true;  
            var a = document.getElementById("email").value;
            var b = document.getElementById("password1").value;
            var c = document.getElementById("password2").value;

            var reg1 = /^([a-zA-Z0-9\.-]+)$/;
            var reg2 = /^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[@$!%*#?&])[A-Za-z\d@$!#%*?&]{6,16}$/;

                if(reg1.test(a))
                {
                    result = true;
                }
                else
                {
                    document.getElementById("showmsg1").innerHTML = "<b>Enter valid Username !</b>"
                    result = false;
                }

                if(reg2.test(b))
                {
                    result = true;
                }
                else
                {
                    document.getElementById("showmsg2").innerHTML = "<b>Make a strong password !</b>"
                    result = false;
                }

                if(b == c){
                    result = true;
                }
                else{
                    document.getElementById("showmsg3").innerHTML = "<b>Password doesn't match !</b>"
                    result = false;
                }
            return result
        }
    </script>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
</body>
</html>